body,
html {
  height: 100%;
  margin: 0px;
}

.background {
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: xx-large;
  font-family: Arial;
  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cat{
  width: 300px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.cat:hover ~ .topText,.cat:hover ~ .bottomText{
  color:red;
  animation: rainbow 5s infinite;
}

.topText, .bottomText{
  margin: 0px;
  padding: 15px;
  line-height: 1em;
  background-color: rgb(82, 82, 82);
}

.bottomText{
  transform:translateY(-15px);
}

@keyframes rainbow{
  8.33% {color: rgb(255,0,0);}
  16.66% {color: rgb(255,127,0);}
  25% {color: rgb(255,255,0);}
  33.33% {color: rgb(127,255,0);}
  41.66% {color: rgb(0,255,0);}
  50% {color: rgb(0,255,127);}
  58.33% {color: rgb(0,255,255);}
  66.66% {color: rgb(0,127,255);}
  75% {color: rgb(0,0,255);}
  83.33% {color: rgb(127,0,255);}
  91.66% {color: rgb(255,0,255);}
  100% {color: rgb(255,0,127);}
}

@media (max-width: 620px) {
  .background{
    font-size: x-large;
  }
  .cat{
    width: 200px;
  }
}

@media (max-width: 500px) {
  .background{
    font-size: large;
  }
}
